<!DOCTYPE html>
<html>

<head>

    <title>Angular Notes Chrome Extension</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.red-indigo.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body ng-app="app">

    <div ng-controller="ctrl" class="mdl-layout mdl-js-layout mdl-color--grey-100 mdl-layout--fixed-header">
        <header class="mdl-layout__header">

            <div class="mdl-layout__header-row">
                <!-- App Logo -->
                <img src="images/logo.png" class="app-logo">
                <!-- Title -->
                <span class="mdl-layout-title">Handouts</span>
                <div class="mdl-layout-spacer"></div>
                <div ng-show="isContentSearchable()" class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
                        <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" name="search" ng-model="search_text" id="fixed-header-drawer-exp">
                    </div>
                </div>

                <!-- Right aligned menu button -->
                <button id="menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
                  <i class="material-icons">settings</i>
                </button>

                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-lower-right">
                    <li class="mdl-menu__item" ng-click="enableOrDisable()">
                        <span ng-show="isActive()">
                            Disables handouts
                        </span>
                        <span ng-show="!isActive()">
                            Enables handouts
                        </span>
                    </li>
                    <li class="mdl-menu__item" ng-click="enableOrDisableTranslation()">
                        <span ng-show="!isTranslationMode()">
                            Enable Translation mode
                        </span>
                        <span ng-show="isTranslationMode()">
                            Disables Translation mode
                        </span>
                    </li>
                    <li class="mdl-menu__item" ng-click="showOptions()">Preferences</li>
                    <!-- <li disabled class="mdl-menu__item">Disabled Action</li> -->
                </ul>

            </div>
            <!-- Tabs -->
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Tab 1</a>
                <a href="#fixed-tab-2" class="mdl-layout__tab">Tab 2</a>
            </div>
        </header>


        <!--<ng-include src="'include/tabs.html'"></ng-include>-->
        <main class="mdl-layout__content">

            <!-- home/notes list -->
            <ng-include src="'include/home.html'" ng-show="isHome()"></ng-include>

            <!-- document preview -->
            <ng-include src="'include/file_preview.html'" ng-show="isFilePreview()"></ng-include>


        </main>
        <footer class="mdl-mini-footer mdl-color--grey-100">

        </footer>
    </div>


    <!-- Angular.js Libraries -->
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="app/angular-loadscript.js"></script>
    <script type="text/javascript" src="lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="lib/angular/angular-animate.min.js"></script>

    <script type="text/javascript" src="lib/jquery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="lib/mdl/js/material.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/ctrl.js"></script>

    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
    <script type="text/javascript" src="app/storageManager.js"></script>
    <script type="text/javascript" src="app/driveManager.js"></script>
    <script type="text/javascript" src="lib/FileSaver/FileSaver.min.js"></script>
    <script type="text/javascript" src="lib/Blob/Blob.js"></script>
    <script type="text/javascript" src="lib/pdfMake/pdfMake.js"></script>
    <script type="text/javascript" src="lib/pdfMake/vfs_fonts.js"></script>
    <script type="text/javascript" src="app/fileManager.js"></script>
    <script type="text/javascript" src="app/translationManager.js"></script>


</body>

</html>